# La Chuoi Runtime Variables (Provided automatically by the environment)
# APP_ID=
# LACHUOI_TOKEN=
# RPC_ENDPOINT=
ENVIRONMENT=development

# Required Configuration
NEWSPENGUIN_MSTD_ACCESS_TOKEN=
NEWSPENGUIN_MSTD_API_URI=https://mstd.seungjin.net
NEWSPENGUIN_RSS_URI=https://www.newspenguin.com/rss/allArticle.xml
NEWSPENGUIN_USER_AGENT=
